body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}
.container {
    width: 60%;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
h1 {
    text-align: center;
    color: #4a4a4a;
}
.section {
    margin-bottom: 20px;
    padding: 10px 0;
    border-top: 1px solid #ddd;
}
button {
    padding: 10px 15px;
    margin-top: 10px;
    background-color: #28a745;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
button:hover {
    background-color: #218838;
}
input {
    padding: 8px;
    width: 60%;
    margin-top: 10px;
}
#songList, #playlistList {
    margin-top: 10px;
}
